<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du film</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div th:replace="~{fragments/sidebar.html}"></div> <!-- Inclusion de la barre latérale -->

    <div class="main-content">
        <header>
            <h1>Film Details</h1>
        </header>

        <section class="details-section">
            <h2 th:text="${film.titre}"></h2>
            <p><strong>Date de sortie:</strong> <span th:text="${#dates.format(film.date, 'yyyy-MM-dd')}"></span></p>
            <p><strong>Synopsis:</strong> <span th:text="${film.synopsis}"></span></p>
            <p><strong>Durée:</strong> <span th:text="${film.duree}"></span> minutes</p>
            <p><strong>Genre:</strong> <span th:text="${film.genre}"></span></p>
            <p><strong>Affiche:</strong></p>
            <img th:src="'data:image/jpeg;base64,' + ${@filmController.encodeToBase64(film.affiche)}" alt="Affiche du film" width="200"/>
            <br><br>
            <a href="/films"><button>Retour à la liste des films</button></a>
        </section>
    </div>
</body>
</html>
