<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des <span th:text="${name}"></span></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Liste des <span th:text="@{ {name}s(name=${name})}"></span></h1>
        <a th:href="@{/{name}/add(name=${name})}"><button>Ajouter un <span th:text="${name}"></span></button></a>
        <table>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Affiche</th>
            </tr>
            <tr th:each="media : ${medias}">
                <td><a th:href="@{/{name}/{id}(name=${name}, id=${media.id})}" th:text="${media.titre}"></a></td>
                <td th:text="${media.genre}"></td>
                <td>
                    <img th:src="'data:image/jpeg;base64,' + ${@filmController.encodeToBase64(media.affiche)}" alt="Affiche" width="100"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>